{% extends "upload_form/base.html" %}

{% block title %}
  アップロード画面
{% endblock %}

{% block body %}
<div class="upload_style" >
  <form action= {% url 'upload_form:upload' %} method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
    {{ FileForm }}
    </p>
    <p>
      {{ ThumbnailForm }}
    </p>
    <p>
    {{ OwnerForm }}
    </p>
    <p>
    {{ProjectsForm}}
    </p>
    <p>
    {{CategoryChoiceForm}}
    </p>
    <p>
    {{DescriptionForm}}
    </p>
    <input type="submit" value="アップロード">
  </form>
</div>
{% endblock %}
